@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: poppins;
  background: var(--lilac);
  color:black;
 }

 :root{
  --lilac:#87a2ff;
 }

body.light {
  background: var(--lilac);
  color:black;
}
body.dark{
  background:black;
  color: var(--lilac);
}
.foot.light{
  background: var(--lilac);
  color: black;
}
.foot.dark{
  background:black;
  color:var(--lilac) ;
}