@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

:root{
  --lilac:#87a2ff;
}

body.light, .About.light{
  background: var(--lilac);
}
body.dark, .About.dark{
  background: #000;
  color: var(--lilac);
}
.links{
  display: flex;
  
  gap: 20px;
  justify-content: center;
}
.anchor{
  color: rgb(2, 84, 199);
} 